<form
  #orderForm="ngForm"
  class="flex flex-col gap-y-3"
  (ngSubmit)="placeOrder()"
>
  <!-- Full Name -->
  <div class="flex flex-col gap-y-2">
    <div class="flex justify-between items-center">
      <label for="fullName">Full Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        minlength="3"
        maxlength="40"
        required
        [ngModel]="order.name"
        (ngModelChange)="order.name = $event"
        #fullName="ngModel"
      />
    </div>
    <div
      *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
      class="text-sm text-red-500"
    >
      <div *ngIf="fullName.errors?.['required']">Full name is required.</div>
      <div *ngIf="fullName.errors?.['minlength']">
        Name must be 3 letters or more (i.e. Ali).
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="flex flex-col gap-y-2">
    <div class="flex justify-between items-center">
      <label for="address">Address:</label>
      <input
        type="text"
        id="address"
        name="address"
        minlength="10"
        required
        [ngModel]="order.address"
        (ngModelChange)="order.address = $event"
        #address="ngModel"
      />
    </div>
    <div
      *ngIf="address.invalid && (address.dirty || address.touched)"
      class="text-sm text-red-500"
    >
      <div *ngIf="address.errors?.['required']">Address is required.</div>
      <div *ngIf="address.errors?.['minlength']">
        Address must be 10 letters long or more (i.e. 123 Legit street).
      </div>
    </div>
  </div>

  <!-- Credit Card -->
  <div class="flex flex-col gap-y-3">
    <div class="flex justify-between items-center">
      <label for="creditCard">Credit Card:</label>
      <input
        #creditCard="ngModel"
        type="text"
        id="creditCard"
        name="creditCard"
        minlength="16"
        maxlength="16"
        required
        [ngClass]="{
          'not-all-digits': !creditCard.pristine && !allDigits
        }"
        [ngModel]="order.creditCard"
        (ngModelChange)="order.creditCard = $event"
      />
    </div>
    <div
      *ngIf="
        (creditCard.invalid || !allDigits) &&
        (creditCard.dirty || creditCard.touched)
      "
      class="text-sm text-red-500"
    >
      <div *ngIf="creditCard.errors?.['required']">
        Credit card number is required.
      </div>
      <div *ngIf="creditCard.errors?.['minlength'] || !allDigits">
        Number must be 16
        <strong> digits </strong>
        long (i.e. 4111111111111111).
      </div>
    </div>
  </div>
  <button
    type="submit"
    [disabled]="orderForm.invalid || emptyCart || !allDigits"
    class="w-1/2 h-8 mt-4 self-center bg-blue-800 text-white hover:bg-blue-500 disabled:bg-slate-300"
  >
    Place Order
  </button>
</form>

<div class="text-red-400">
  {{ order | json }}
</div>
