<div class="cart-item">
  <div class="cart-item-image">
    <img
      src="{{ item.product.url }}"
      alt="{{ item.product.name }}"
      width="75px"
      height="130px"
    />
  </div>
  <div class="cart-item-data">
    <h5>{{ item.product.name }}</h5>
    <price [amount]="item.product.price"></price>
    <div class="quantity">
      <label for="qty">Qty: </label>
      <input
        #quantityInput
        type="number"
        id="qty"
        name="qty"
        min="1"
        max="10"
        value="{{ item.quantity }}"
        (input)="changeQty(quantityInput.valueAsNumber)"
      />
    </div>
  </div>
</div>
