/* .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  padding: 5px;
  border: 1px solid blue;
}

.cart-item-image img {
  border: 1px solid green;
}

.cart-item-data {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
