<section class="flex flex-col items-center gap-y-3">
  <!-- Empty Cart -->
  <div *ngIf="isEmpty; else viewCart">
    <p class="text-xl font-bold">Cart is Empty!</p>
    <a href="" routerLink="/products" class="text-sm text-blue-500 underline"
      >Browse our products</a
    >
  </div>

  <!-- Full Cart -->
  <ng-template #viewCart>
    <cart-item
      *ngFor="let item of items"
      [item]="item"
      (quantityChange)="updateQuantity($event)"
      (removeItem)="removeFromCart($event)"
    >
    </cart-item>
    <div class="text-xl font-semibold mt-4">
      Sub-Total: <inline-price [amount]="subTotal"></inline-price>
    </div>
  </ng-template>
</section>
