/* #catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;

  width: 800px;
  border: 1px solid blueviolet;
} */
catalogue-item {
  flex: 0 0 30%;
}
