<div class="list-item">
  <div class="item-img">
    <a href="" [routerLink]="['/products', item.name]">
      <img
        src="{{ item.url }}"
        alt="{{ item.name }}"
        width="220"
        height="320"
      />
    </a>
  </div>
  <h3>{{ item.name }}</h3>
  <price [amount]="item.price"></price>
  <div class="order-qty">
    <label for="quantity">Qty:</label>
    <input
      type="number"
      name="quantity"
      id="quantity"
      value="1"
      max="10"
      [(ngModel)]="orderQuantity"
    />
  </div>
  <button (click)="addToCart()">Add to Cart</button>
</div>
