<section id="product-page">
  <div class="product-image">
    <img
      src="{{ product.url }}"
      alt="{{ product.name }}"
      width="220"
      height="320"
    />
  </div>

  <div class="product-data">
    <header>
      <h2>{{ product.name }}</h2>
      <h6>Description</h6>
      <p>{{ product.description }}</p>
    </header>
    <price [amount]="product.price"></price>
    <div class="product-quantity">
      <label for="quantity">Qty:</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        value="1"
        min="1"
        max="10"
        [(ngModel)]="quantity"
      />
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</section>
